<div class="about-page">
    <div class="about-wrapper container">
        <div class="section">
            <div class="section-title">
                <h3>🚀 Mission</h3>
            </div>
            <div class="section-description">
                <section class="pt-3">
                    The Philosophy Project!
                </section>

                <section class="pt-3">
                    We the sapiens is a single person led philosophy project whose aim is to bring age old wisdom
                    from different parts of the world under one roof.
                </section>

                <section class="pt-3">
                    It is to pass down all the knowledge humanity has ever gained over the course of its existence
                    to the kids of 2030 in a consumable manner which they find cool and interesting.
                </section>

                <section class="pt-3">
                    Also, part of the project is to revolutionize storytelling methods with the help of VR. 
                    We want humans to be able to and relive the moments from human history.
                </section>

                <section class="pt-3">
                    We wish to cover all the legends and tales which time has buried deep down the literature books.
                </section>

                <section class="pt-3">
                    Let's do it!
                </section>

                <!-- <section class="pt-3">
                    Love from India.
                </section> -->
            </div>
        </div>
    </div>
</div>