<div class="header">
    <div class="header-wrapper animate__animated animate__rotateIn  container py-3 d-flex justify-content-between align-items-end">
        <div class="header-title cursor-pointer d-inline scale-on-hover ">
            <span>[ {{title}} ] </span>
        </div>
        <div class="header-quote d-inline text-center scale-on-hover">
            <span class="d-block"> {{quote}} </span>
            <!-- <span class="d-block"> — {{quoteAuthor}}</span> -->
        </div>
        <div class="header-about cursor-pointer d-inline scale-on-hover">
            <span>[ About ]</span>
        </div>
    </div>

</div>