<div class="home-page">
    <div class="home-wrapper container">
        <!-- launching soon -->
        <div class="launching-soon text-center">
            <section class="animate__animated animate__bounceInDown launch-text">
                <span> Launching soon.. </span>
            </section>
            <section>
                <span> Jul 2020 </span>
            </section>
            <section class="animate__animated animate__bounceInUp py-3 mt-2">
                <a href="https://www.facebook.com/wethesapiens" target="_blank" class="fa fa-facebook" style="text-decoration: none; transform: scale(1.5);"></a>
                <a href="https://www.twitter.com/wethesapiens" class="fa fa-twitter mx-4" target="_blank" style="text-decoration: none; transform: scale(1.5);"></a>
                <a href="https://www.instagram.com/wethesapiens_" class="fa fa-instagram" target="_blank" style="text-decoration: none; transform: scale(1.5);"></a>
            </section>
        </div>
    </div>
</div>